.menu {
  height: 100vh;
  background-color: #e3e3e3;
}

.menu ul {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.menu ul li {
  display: block;
  padding: 1rem;
  border-bottom: 1px solid #fff;
}

.menu ul li:hover {
  background-color: #b5b5b5;
}

.menu ul li a {
  color: black;
}