:root {
  /* Button */
  --button-medium-padding: .6rem 2.5rem!important;
  --primary-button-bg: #f42d4b;
  --primary-button-bg-hover: #bd2d43;
  --default-button-bg: #bdbdbd;
  --default-button-bg-hover: #a6a6a6;
}

.menu {
  height: 100vh;
  background-color: #e3e3e3;
}

.menu ul {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.menu ul li {
  display: block;
  padding: 1rem;
  border-bottom: 1px solid #fff;
}

.menu ul li:hover {
  background-color: #b5b5b5;
  cursor: pointer;
}

.menu ul li a {
  color: black;
  display: block;
  width: 100%;
  text-decoration: none;
}

.content {
  margin-left: 20rem;
}

.container-width {
  width: 18rem;
}